/*
Media Queries:
@media (min-width:320px)  {  smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px)  {  smartphones, Android phones, landscape iPhone  }
@media (min-width:600px)  {  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:801px)  {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }
*/

/* For Phones */
@media only screen and (min-width:600px)
{ 
    body,html               /*  to remove the Spaces between tags and the Border of Browser Window*/
    {
        margin:0 0 0 0;
        padding:0 0 0 0;
        border:none;
    }
    html
    {
        color:#00ffff;
        background-color: black;
    }
    #HD
    {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        background-color: #777777;
        height: 177px;
        margin: 0px 0px 0px 0px; /* 1536 -> 1536/2 => 768 - 500/2(width) => 518*/
        padding: 0px 0px 0px 0px;
    }
    h1
    {
        height: 150px;
        border-radius: 0px;
        text-align: center;
        font-family: Helvetica;
        font-weight: 500;
        font-size: 100px;
        background-color: #000000;
        color: #00cfcf;
        margin: 0px 0px 0px 0px;
        padding:35px 0px 0px 0px;
    }
    nav
    {
        align-items: center;
        color: #ffffff;
        display:inline;
        
    }
    ul
    {
        width: 1536px;
        background-color: #000000;
        overflow: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #3f3f3f;
    }
    li
    {
        display:inline;
        float: left;
    }
    .tbs
    {   
        border: none;
        padding: 40px 62px;
        transition-duration: 0.2s;
        outline: none;
        color: white;
        background-color: #3f3f3f;
        text-align: center;
        font-family: Helvetica;
        font-weight: 400;
        font-size:80px;
    }
    .tbs:hover
    {
        color:#00ffff;
        background-color: #1f1f1f;
    }

    #page
    {
        border: none;
        position: relative;
        background-color: #222222;
        margin-top: 0px;
    }
    /*
    #frm
    {
        background-color: #1f1f1f;
    }    
    .lb
    {
        color: #00ffff;
    }
    .field
    {
        width:500px;
        border-radius: 30px;
        background-color: #1f1f1f;
        font-family: Helvetica;
        font-weight: 100;
        font-size:x-large;
        padding: 10px 0px 10px 30px;
        margin-bottom: 30px;
        margin-left: 400px;
    }
    #name
    {
        margin-top: 100px; 
    }
    */
}
/* For Desktop Devices */
@media only screen and (min-width:992px )
{
    body,html               /*  to remove the Spaces between tags and the Border of Browser Window*/
    {
        margin:0 0 0 0;
        padding:0 0 0 0;
        border:none;
    }
    html
    {
        color:#00ffff;
        background-color: black;
    }
    #HD
    {
        height: 0px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        background-color: #777777;
        margin: 0px 0px 0px 0px; /* 1536 -> 1536/2 => 768 - 500/2(width) => 518*/
        padding: 1px 0px 1px 0px;
    }
    h1
    {
        height: 35px;
        border-radius: 10px;
        font-family: Helvetica;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        background-color: #000000;
        color: #ff0000;
        margin: 0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
    }
    nav
    {
        align-items: center;
        color: #ffffff;
        display:inline;
        
    }
    ul
    {
        width: 1536px;
        background-color: #ffffff;
        overflow: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #3f3f3f;
    }
    li
    {
        display:inline;
        float: left;
    }
    .tbs
    {   
        border: none;
        padding: 10px 24px;
        transition-duration: 0.2s;
        outline: none;
        color: white;
        background-color: #3f3f3f;
        text-align: center;
        font-family: Helvetica;
        font-weight: 100;
        font-size: x-large;
    }
    .tbs:hover
    {
        color:#00ffff;
        background-color: #1f1f1f;
    }

    #page
    {
        border: none;
        position: relative;
        background-color: #222222;
        margin-top: 0px;
    }
}