body,html               /*  to remove the Spaces between tags and the Border of Browser Window*/
{
    margin:0 0 0 0;
    padding:0 0 0 0;
    border:none;
}
html
{
    color:#00ffff;
    background-color: black;
}
#HD
{
    background-color: #4f4f4f;
    height: 77px;
    margin: 0px 0px 0px 0px; /* 1536 -> 1536/2 => 768 - 500/2(width) => 518*/
    padding: 1px 0px 1px 0px;
}
#tabs
{
    background-color: #3f3f3f;
    margin: 0px 0px 0px 0px; /* 1536 -> 1536/2 => 768 - 500/2(width) => 518*/
    padding: 1px 0px 1px 0px;
}
h1
{
    border-radius: 10px;
    text-align: center;
    font-family: Helvetica;
    font-weight: 100;
    background-color: #000000;
    color: aqua;
    margin: 0px 0px 0px 0px;
}
nav
{
    align-items: center;
    color: #ffffff;
    display:inline;
    
}
ul
{
    width: 1536px;
    background-color: #000000;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
}
li
{
    display:inline;
    float: left;
}
button
{   
    background-color: #5f5f5f;
    border: none;
    padding: 10px 24px;
    transition-duration: 0.2s;
    outline: none;
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-weight: 100;
    font-size:x-large;
}
.tbs:hover
{
    color:#00ffff;
    background-color: #1f1f1f;
}

#page
{
    border: none;
    position: relative;
    background-color: #00ffff;
    margin-top: 0px;
}
/*
#frm
{
    background-color: #1f1f1f;
}    
.lb
{
    color: #00ffff;
}
.field
{
    width:500px;
    border-radius: 30px;
    background-color: #1f1f1f;
    font-family: Helvetica;
    font-weight: 100;
    font-size:x-large;
    padding: 10px 0px 10px 30px;
    margin-bottom: 30px;
    margin-left: 400px;
}
#name
{
    margin-top: 100px; 
}
*/
